{% extends "search/base.html" %}
{% block content %}
    <section class="page-section result">
        <div class="container">
            <div class="row text-center justify-content-center align-items-center">
                <div class="col-auto rounded shadow bg-primary text-white" >
                    <h1>Mes aliments</h1>
                </div>
            </div>
        </div>
    </section>
    {% if products_list %}
    <section class="page-section bg-primary">
        <div class="container">
            {% for line in products_list %}
            <div class="row bg-moules rounded-top shadow">
                <div class="col-auto mx-auto text-white">
                    <h4>Produit original</h4>
                </div>
                <div class="col-auto mx-auto text-white">
                    <h4>Produit de substitution</h4>
                </div>
            </div>
            <div class="row bg-secondary shadow justify-content-center">
                <div class="col-auto text-center">
                    <div class="card" style="width: 10rem;">
                        <img class="rounded card-img-top" style="width: 10rem;"src="{{ line.0.0.url_img }}" alt="image produit">
                        <div class="card-body d-flex flex-column ">
                            <h5 class="card-title mt-auto">{{ line.0.0.nom }}</h5>
                        </div>
                        <span class="badge badge-pill card-badge shadow"><h3>{{ line.0.0.indice }}</h3></span>
                    </div>
                </div>
                <div class="col-auto text-white">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-white"><strong>Repères nutritionnels pour 100G</strong></p>
                        </div>
                    </div>
                    {% for nut in line.0.1 %}
                    <div class="row">
                        <div class="col-10">
                            <strong>{{nut.nutriment_name}}</strong>
                        </div>
                        <div class="col-2">
                            <strong>{{nut.quantity}}</strong>
                        </div>
                    </div>
                    {% endfor%}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{line.0.0.url}}">
                                <button type="button" class="btn btn-secondary shadow mt-3">Voir la fiche d'OpenFoodFacts</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-auto mx-auto">
                    <div class="card mx-auto" style="width: 10rem;">
                        <img class="rounded card-img-top mx-auto" style="width: 10rem;"src="{{ line.1.0.url_img }}" alt="image produit">
                        <div class="card-body d-flex flex-column ">
                            <h5 class="card-title mt-auto">{{ line.1.0.nom }}</h5>
                        </div>
                        <span class="badge badge-pill card-badge shadow"><h3>{{ line.1.0.indice }}</h3></span>
                    </div>
                </div>
                <div class="col-auto text-white">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-white"><strong>Repères nutritionnels pour 100G</strong></p>
                        </div>
                    </div>
                    {% for nut in line.1.1 %}
                    <div class="row">
                        <div class="col-10">
                            <strong>{{nut.nutriment_name}}</strong>
                        </div>
                        <div class="col-2">
                            <strong>{{nut.quantity}}</strong>
                        </div>
                    </div>
                    {% endfor%}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{line.1.0.url}}">
                                <button type="button" class="btn btn-secondary shadow mt-3">Voir la fiche d'OpenFoodFacts</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-moules rounded-bottom shadow mb-5">
                <div class="col-auto mx-auto">
                    <a href="{% url 'account:remove_favorite' line.0.0.id line.1.0.id %}">
                        <button type="button" class="btn btn-danger"><strong>supprimer des favoris</strong></button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <section class="page-section bg-primary">
        <div class="container">
            <div class="row text-center justify-content-center align-items-center m-0">
                <div class="col-6 rounded shadow text-white bg-moules p-5">
                    <h3><strong>Oh non ! tu n'as pas sauvegardé de produits dans tes favoris</strong></h3>
                </div>
            </div>
        </div>
    </section>    
    {%endif%}
{% endblock content %}